/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

#header {
    position: fixed;
    top: 100px;
    width: 220px;
    text-align: right;
}
#main {
    float: left:
}
#content {
    position: absolute;
    top: 100px;
    left:500px;
    width: 500px;
	margin: 0 280px 0 20px;
}
#navigation {
    position: fixed;
    top: 200px;
    clear: both;
	overflow: hidden;
	width: 220px;
    text-align: right;
}

#footer {
    display: none;
	clear: both;
	width: 100%;
}

/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span {
	font-family: Arial, Helvetica, sans-serif;
}
h3#reply-title,
#site-info,
#site-title,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-title,
.navigation,
.page-title,
.widget-title,
input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre, code {
	font-family: Courier, monospace;
}

/* =Structure
-------------------------------------------------------------- */
#wrapper {
	margin: 0 auto;
	width: 940px;
	margin-top: 20px;
	padding: 0 20px;
}

/* =Global Elements
-------------------------------------------------------------- */
body {
	background-color: white;
}
body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	padding: 2px;
}
a:link {
	color: #0066cc;
}
a:visited {
	color: #743399;
}
a:active,
a:hover {
	color: #ff4b33;
}

/* =Header
-------------------------------------------------------------- */
#header {
	padding: 30px 0 0 0;
}
#site-title {
	float: left;
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 18px 0;
	width: 220px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}


/* =Content
-------------------------------------------------------------- */
#main {
	clear: both;
	overflow: hidden;
	padding: 40px 0 0 0;
}
#content {
	margin-bottom: 36px;
}
#content,
#content input,
#content textarea {
	color: #333;
	font-size: 14px;
	line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content table {
	border: 1px solid #e7e7e7;
	margin: 0;
    padding: 5px;
	text-align: left;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 5px;
}
#content tr.odd td {
	background: #f2f7fc;
}
#content .entry-title {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}

/* =Images
-------------------------------------------------------------- */
#content img {
	margin: 0;
	height: auto;
	max-width: 640px;
	width: auto;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
	margin-bottom: 12px;
}
#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	text-align: center;
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}

/* =Widget Areas
--------------------------------------------------------------*/ 

.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	margin-left: 1.3em;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	color: #222;
	font-weight: bold;
}


/* =Footer
-------------------------------------------------------------- */

#footer {
	margin-bottom: 20px;
}
#colophon {
	border-top: 4px solid #000;
	margin-top: -4px;
	overflow: hidden;
	padding: 18px 0;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
#site-generator a:hover {
	text-decoration: underline;
}

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}


/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#main {
		display: inline;
	}
}


h2 .entry-title {
    font-size: 24px;
    border-bottom: 1px solid #AAA;
}
#content h2 {
    font-size: 22px;
    border-bottom: 1px solid #AAA;
}
#content h3 {
    font-size: 18px;
    font-weight:bold;
}
/* page list in category page.*/
.mw-content-ltr {
    font-size: 14px;
}
.catlinks {
    border: 1px solid #999;
    background-color: #F9F9F9;
}

#searchGoButton {
    display: none;
}
#navigation ul {
    list-style-type: none;
}
.printfooter { display:none }
a { color:#007296; text-decoration:none; }
.editsection { font-weight:normal; font-size:14px; color:#777 }
.editsection a { color:#777; text-decoration:none }
.editsection a:hover { color:#007296 }

#site-generator a { display:inline; padding:0; text-decoration:underline }

/* Thumbnails from Vector CSS main-ltr.css?270 */
div.thumb { margin-bottom:0.5em; border-style:solid; border-color:white; width:auto; background-color:transparent }
div.thumb.tright { clear:right; float:right; border-width:0.5em 0 0.8em 1.4em }
div.thumb.tleft { float:left; clear:left; margin-right:0.5em; border-width:0.5em 1.4em 0.8em 0 }
div.thumb div.thumbinner { border:1px solid #ccc; padding:3px !important; background-color:#f9f9f9; font-size:94%; text-align:center; overflow:hidden }
div.thumb img.thumbimage { border:1px solid #ccc; max-width:none !important }
div.thumb div.thumbcaption { border:none; text-align:left; line-height:1.4em; padding:3px !important; font-size:94% }
div.thumb div.magnify { float:right; border:none !important; background:none !important }
div.thumb div.magnify a,
div.thumb div.magnify img { display:block; border:none !important; background:none !important }
div.thumb img.thumbborder { border:1px solid #dddddd }
.hiddenStructure { display: none }

#toc { border:#AAA; background-color:#F9F9F9; padding:5px; margin: 0; font-size: 12px; }
#toc h2 { font-size:12px; font-weight:bold; display:inline; border:none; padding:0; }
#toc ul { list-style-type:none; list-style-image:none; margin-left:0; padding:0;}
